.img{
    width: 25px;
    height: 25px;
    padding: 3px;
    border-radius: 50%;
}
.cercle1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(177, 112, 51);
    border: 1px solid rgb(177, 112, 51); 
}
.cercle2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(81, 180, 41);
    border: 1px solid rgb(81, 180, 41);
}
.cercle3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    border: 1px solid blue;
}
.cercle4{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(64, 104, 156);
    border: 1px solid rgb(64, 104, 156);
}
.cercle5{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(224, 163, 71);
    border: 1px solid rgb(224, 163, 71);
}
.cercle6{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(39, 167, 160);
    border: 1px solid rgb(39, 167, 160);
}
.cercle7{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    border: 1px solid blue;
}
.cercle8{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(167, 53, 133);
    border: 1px solid rgb(167, 53, 133)
}
.cercle9{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    border: 1px solid blue;
}
